# Node-related files
node_modules/
dist/
.env

# Python-related files
__pycache__/
*.py[cod]
.Python
env/
venv/

# Solidity-specific files
artifacts/
cache/
*.sol.js
coverage/
coverage.json
gas-report.json

# General files
.DS_Store
.idea/
.vscode/
*.log

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
